*,*::after,
*::before {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

:root {
    --twitter_color:#00acee;
    --hover_color:#F0F8FE;
}

body {

 margin:0;
 overflow-x: hidden;
 padding: 1rem;

}



/* Navbar*/



.navbar_section {
   
    padding:1rem;
    display:flex;
    justify-content: space-between;
    font-size: 1.3rem;
    color:var(--twitter_color);
}

.fleets_section {
    padding:1rem;
    display:flex;
    justify-content: space-evenly;
    padding:1rem;
}

.fleets_section div {
    display:flex;
    flex-direction: column;
   
}

.fleets_section div > a {
margin-left: 2px;

}

.first_fleet {
    position: relative;
}

.add {
   
    padding-left: 10px;
}

.fa-plus {
    position: absolute;
    top:53%; 
    left:35px; 
    background-color: var(--twitter_color);
    color:white;
    border-radius: 50%;
}

.fleets_section  div > img {
    max-width:50px;
   margin-right: 0.9rem ;
   border-radius: 50%;
    border:3px solid var(--twitter_color)
    
   
}

.double_fleet {
    display:flex;
}


.sidedrop{
    display:none;
   top:10%;
    position:fixed;
    position:absolute;
    width:300px;
    background-color: white;
    z-index: 9999;
    padding:1rem;
    color:black;
}


#checkbox_side {
    display:none;
}

#checkbox_side:checked ~ .sidedrop {
    display:block;
}


.image_icon_flex {
    display:flex;
    justify-content: space-between;
}


.image_icon_flex> div > img {

    max-width:50px;
    margin-right: 0.9rem ;
    border-radius: 50%;

}

.image_icon_flex > i {
    color:var(--twitter_color);
}

.image_icon_flex > div > p {
    font-size: 1.2rem;
    font-weight: bold;
   margin-top: 1px;
}



.image_icon_flex > div > p > span {
    font-weight: lighter;
   color:#777777;
   font-size: 1rem;
 }

 .followership {
     font-size: 1.1rem;
 }

 .follow {
    color:#777777;
    margin-right: 10px;
 }


 .side_functionality i {
     color:#777777;
     margin-right: 10px;
 }

 .side_bottom_icons {
     display:flex;
     justify-content: space-between;

 }

 .side_bottom_icons {
     color:var(--twitter_color);
 }



 .nav_bottom {
    display:flex;
    justify-content: space-around;
   
     position:fixed;
     bottom:0px;
     width: 100%;
     border-top: 1px solid #777777;
     padding:1rem;
     font-size: 1.3rem;
     color:#777777;
     background-color: white;
     z-index: 999999;
     
 }

 .navbar_section{
    
 }


 /* video */


 .liked {
     margin-top: 0px;
     color:#777777;
     margin-left: 1rem;
 }

 .video_section {
     padding:1rem;

   
 }

 
 .post_info {

 display:flex;
 margin-bottom: 0.5rem;




 }

 .post_info > div {
     display:flex;
     position: relative;
 }

 



 .post_itself {
    width: 100%;
    padding-top: 56.25%;
    height: 0px;
    position: relative;
 }

 .video {
    width: 95%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 4%;
    border-radius: 10px;

}


 .feed_pro_img {
     width:40px;
     border-radius: 50px;
    margin-right: 0.3rem;
    max-height: 50px;
   
 }

 .handle_nd_timestamp {
    color:#777777;
 } 

 .hash_tag {
     color:var(--twitter_color);
 }

.views {
    color:#777777;
    font-size: 0.7rem;
    margin-left: 40px;
}

.interactions {
    display:flex;
    justify-content: space-around;
    margin-left: 1rem;
    
}

.interactions > a {
   color:#303030;
   text-decoration: none;
    font-size: 0.7rem;
}

.interactions > a:hover {
    color:var(--twitter_color)
    
     
 }

.tweet_feather {
    
   
 
   
     position:fixed;
     
      bottom:70px;
     left:75%;
     font-size: 1rem;
     background-color: var(--twitter_color);
     color:white;
     border-radius: 50px;
     padding:1rem;
     z-index: 9999;
    
    
}


/* verified */
.fa-check-circle {
    background-color:var(--twitter_color);
    border-radius: 50px;
    font-size: 1rem;
    color:white;
    }



/* Text_post */

.text_post_section{
padding: 1rem;
}


    


 

/* picture_post */

.picture_post_section{
    padding: 1rem;
}

.heirs_pictures> img {
    width: 100%;
    height:70%;
    border-radius: 10px;
    margin-left: px;
}
    
.pictures1 {
    display:flex;
}

.pictures1 img {
    
    width:50%;
    height: 50%;
    display:flex;
    flex-direction: row;
    margin:0.3rem;
    border-radius:5px;
  
}


.pictures2 {
    display:flex;
}

.pictures2 img {


    margin:0.3rem;
    width:50%;
    height: 50%;
    border-radius:5px;
}


.pictures_kellys {
    display:flex;
}


.pictures_kellys img {
    
    width:50%;
    height:50%;
    margin: 0.3rem;
    border-radius: 10px;
   
    
  
}

.elorms_heart {
    color:#960018;
}

.pictures_ella  img{
    width: 100%;
    margin: 0.3rem;
    border-radius: 10px;
}

.feed_name {
    font-weight: bold;
}









 .side_nav_500  {
     display:none;
 }
 
  
.left_section {
    display:none;
}

.right_section {
    display: none;
}

.whats_happening_box {
    display:none;
}

.whatsap_breaker {
    display:none;
}

.nav_500 {
  display:none;
}

.whats_happening {
    display: none;
}

.top_nav_500 {
    display:none;
}

.whatsap_hr_breaker{
    display:none;
}

.whatsap_br_breaker{
    display:none;
}

.top_home_nd_star_box {
    display:none;
}














/* Ipad Media query */
/* Side Icons appear on the side from bottom and other dropups */
@media only screen and (min-width:500px) {


    body {
        display:flex;
        
    }

    body > * {
        width:100%;
    }


            /* left section */

              
        .left_section {
            font-size: 2rem;
            display:block;
            display:flex;
            flex-direction: column;
            justify-content: space-between;
            position: fixed;
            top:0;
            left:0;
            max-width:200px;
            border-right: 1px solid #777777;
            padding-left:2rem;
            height:100%;
            padding-top: 1rem;
            
            

           
        }

        .left_section> div  {
            display:flex;
            flex-direction: column;
            margin-bottom: 1.5rem;
            color:#303030;
            align-items: flex-end;
            padding-right: 1rem;
           
            
        }


        .left_section> div i {
            margin-bottom: 1.5rem;
            color:#303030;
           
            
        }

        .left_section > div i:nth-of-type(1) {
            color:var(--twitter_color);
        }
        .left_section > div i:nth-of-type(2) {
            color:var(--twitter_color);
        }

        .tweet_feather_side {
             
            
            background-color: var(--twitter_color);
            color:white !important;
            padding:0.4rem;
            border-radius:50px;
           
            
           
          
            
        }

        .side_pro {
            width:50px;
            margin-top: 5rem;
            border-radius: 50px;
        }




            /* middle section */

        .middle_section {
                margin-left: 185.6px;
                border-right:1px solid #777777;
                max-width: 600px;
                min-width: 400px;
                
                  
        }

        .top_home_nd_star_box {
            display:flex;
            justify-content: space-between;
            align-items: flex-start;
            padding-right: 7%;
            padding-left:1rem;
           

        }

        .top_home_nd_star_box > div {
          font-weight: bold;
          font-size: 1.5rem;
           

        }
      

       
      
        .top_home_nd_star_box  > .fa-star{
            color:var(--twitter_color);
            font-size: 1.5rem;
        }

        .heirs_pictures> img {
            width: 100%;
           
            border-radius: 10px;
            
        }

        .top_nav_500 > div {
           
            
        }

        .top_nav_500 > i {
            width:0;
            margin-right: 20px;
            flex-shrink: 100;
            
        }

        
       
        .whats_happening {
            position:absolute;
            
        }

        .whatsap_input {
            position: absolute;
            width: 800%;
           padding:0px;
           top:5px;
           border: none;
           
           
        }

        .whatsap_input:focus {
            outline: none;
           border: none;
           
           
        }



        .whats_happening_pro {
            max-width: 40px;
            border-radius:50px;
        }

        .top_nav_500 > div {
            font-weight: bold;

        }

        .top_nav_500 > i {
            color:var(--twitter_color);
        }

        .nav_bottom {
            display:none;
        }

        .side_bar-toggle {
            display:none;
        }

        .nav_bar_logo {
            display:none !important;
        }

        .nav_bar_star {
            display:none !important;
        }

        .twiiter_bird {
            display:none !important;
        }

        .fleets_section {
            display:none;
        }

        .whatsap_br_breaker{
            display:block !important;
            margin-bottom: 2rem;
        }

        .navbar_section {
            display:none;
        }

        

       
       
       
        
        

       

        /* whats happening */

        .whats_happening_box {
            position: relative;
            display: block;
        }

        .whats_happening {
            display:block;
        }

        .whatsap_hr_breaker{
            display:block;
           
        }

        hr {
            max-width:600px;
        }

        .icons_nd_tweet-btn_box {
            
            position: absolute;
            width: 80%;
            display:flex;
            justify-content: space-between;
            align-items: baseline;
            top:35px;
            left:80px;
        }

        .icons_nd_tweet-btn_box > div a {
            color:var(--twitter_color)
        }

        .icons_nd_tweet-btn_box > div button {
            background-color: var(--twitter_color);
            color:white;
            border:none;
            padding:0.5rem;
            border-radius: 50% / 100%;
            
           
        }
        

        .tweet_feather {
            display:none !important;
        }



       






        


    



     

        
      





}












/* Side icons still dont appear in full */
/* trends page appears */
@media only screen and (min-width:990px)  {

    .right_section {
        position:sticky;
        top:0;
        left:800px;
        height:100%;
        font-size: 0.8rem !important;
    }


    .right_section {
        display:flex;
        flex-direction: column;
        padding-left: 1rem;
       
        
    }

    /* searchbar */

    .serch_bar_box {
        margin-left: 1rem;
        position:relative;
        
    }

    .search_input {
        padding:1rem;
        width:400px;
        border-radius: 40px;
        
        background-color: #f2f2f2;
        font-size: 1.3rem;
        padding-left:3rem;
        border:none;
       
    }

    .search_input:focus {
        outline:none;
    }


    /* trends */


    .trends_box {

        margin-left: 1.5rem;
        background-color: #f2f2f2;
        max-width:380px;
        border-radius: 20px;

    }

    .trend_search_icon {
        position:absolute;
        left:2%;
        top:34%;
        font-size: 1.3rem;
        color:grey;
        
        
    }


    

    .trends_heading {
        display:flex;
        justify-content: space-between;
        align-items: center;
        padding:1rem;
    }

    .trends_heading h1 {
        font-size: 2rem;
    }

    .trends_heading i {
        font-size: 1.3rem;
        color:var(--twitter_color)
    }

    
    .trending {
        display:flex;
        justify-content: space-between;
        padding:1rem;
        
    }

    .trending a {
        text-decoration: none;
        color:black;
    }

    .trending a > p {
        color:#777777;
    }

    .show_more {
        padding:1rem;
    }

    .show_more > a {
        text-decoration: none;
        color:var(--twitter_color);
        font-size: 1rem;
    }


    /* Who to follow */

    .who_to_follow {

        margin-left: 1.5rem;
        background-color: #f2f2f2;
        max-width:380px;
        border-radius: 20px;

    }

    .follow_suggestions{
        display:flex;
        justify-content: space-evenly;
        align-content: center;
        padding:1rem;
        padding:0px;
        
    }

    .follow_suggestions > a {
        text-decoration: none;
        color:black;
        flex-grow: 1;
    }

    .follow_suggestions  p {
        color:#777777;
    }

    .follow_suggestions > img {
        width:15%;
        height:15%;
        border-radius: 50px;
        margin-left: 1rem;
        margin-right: 1rem;
       
       
    }

    .follow_suggestions button {
        color:var(--twitter_color);
        padding:0px;
        height:0px;
        margin-top: 20px;
        border:2px solid var(--twitter_color);
        height:40px;
        padding:0.2rem;
        border-radius: 40px;
        
        flex-grow: 1;
        margin:2rem;
    }

    /* footer_links */
    .footer_links_section {
        margin-left: 2rem;
        margin-top: 1rem;

    }

    .footer_links_section a, p {
        text-decoration: none;
        color:#777777;
    }


}













/* Full desktop screen */
/* Everything appears in full */
@media only screen and (min-width:1266px)  {

}

