*,*::after,
*::before {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

:root {
    --twitter_color:#00acee;
    --hover_color:#F0F8FE;
}

body {

 margin:0;
 overflow-x: hidden;
 padding: 1rem;

}



/* Navbar*/



.navbar_section {
   
    padding:1rem;
    display:flex;
    justify-content: space-between;
    font-size: 1.3rem;
    color:var(--twitter_color);
}

.fleets_section {
    padding:1rem;
    display:flex;
    justify-content: space-evenly;
    padding:1rem;
}

.fleets_section div {
    display:flex;
    flex-direction: column;
   
}

.fleets_section div > a {
margin-left: 2px;

}

.first_fleet {
    position: relative;
}

.add {
   
    padding-left: 10px;
}

.fa-plus {
    position: absolute;
    top:53%; 
    left:35px; 
    background-color: var(--twitter_color);
    color:white;
    border-radius: 50%;
}

.fleets_section  div > img {
    max-width:50px;
   margin-right: 0.9rem ;
   border-radius: 50%;
    border:3px solid var(--twitter_color)
    
   
}

.double_fleet {
    display:flex;
}


.sidedrop{
    display:none;
   top:10%;
    position:fixed;
    position:absolute;
    width:300px;
    background-color: white;
    z-index: 9999;
    padding:1rem;
    color:black;
}


#checkbox_side {
    display:none;
}

#checkbox_side:checked ~ .sidedrop {
    display:block;
}


.image_icon_flex {
    display:flex;
    justify-content: space-between;
}


.image_icon_flex> div > img {

    max-width:50px;
    margin-right: 0.9rem ;
    border-radius: 50%;

}

.image_icon_flex > i {
    color:var(--twitter_color);
}

.image_icon_flex > div > p {
    font-size: 1.2rem;
    font-weight: bold;
   margin-top: 1px;
}



.image_icon_flex > div > p > span {
    font-weight: lighter;
   color:#777777;
   font-size: 1rem;
 }

 .followership {
     font-size: 1.1rem;
 }

 .follow {
    color:#777777;
    margin-right: 10px;
 }


 .side_functionality i {
     color:#777777;
     margin-right: 10px;
 }

 .side_bottom_icons {
     display:flex;
     justify-content: space-between;

 }

 .side_bottom_icons {
     color:var(--twitter_color);
 }



 .nav_bottom {
    display:flex;
    justify-content: space-around;
   
     position:fixed;
     bottom:0px;
     width: 100%;
     border-top: 1px solid #777777;
     padding:1rem;
     font-size: 1.3rem;
     color:#777777;
     background-color: white;
     z-index: 999999;
     
 }

 .navbar_section{
    
 }


 /* video */


 .liked {
     margin-top: 0px;
     color:#777777;
     margin-left: 1rem;
 }

 .video_section {
     padding:1rem;

   
 }

 
 .post_info {

 display:flex;
 margin-bottom: 0.5rem;




 }

 .post_info > div {
     display:flex;
     position: relative;
 }

 



 .post_itself {
    width: 100%;
    padding-top: 56.25%;
    height: 0px;
    position: relative;
 }

 .video {
    width: 95%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 10%;
    border-radius: 10px;

}


 .feed_pro_img {
     width:40px;
     border-radius: 50px;
    margin-right: 0.3rem;
    max-height: 50px;
   
 }

 .handle_nd_timestamp {
    color:#777777;
 } 

 .hash_tag {
     color:var(--twitter_color);
 }

.views {
    color:#777777;
    font-size: 0.7rem;
    margin-left: 40px;
}

.interactions {
    display:flex;
    justify-content: space-around;
    margin-left: 1rem;
    
}

.interactions > a {
   color:#303030;
   text-decoration: none;
    
}

.interactions > a:hover {
    color:var(--twitter_color)
    
     
 }

.fa-feather-alt {
    
   
 
   
     position:fixed;
     
      bottom:70px;
     left:75%;
     font-size: 1rem;
     background-color: var(--twitter_color);
     color:white;
     border-radius: 50px;
     padding:1rem;
     z-index: 9999;
    
    
}


/* verified */
.fa-check-circle {
    background-color:var(--twitter_color);
    border-radius: 50px;
    font-size: 1rem;
    color:white;
    }



/* Text_post */

.text_post_section{
padding: 1rem;
}


    


 

/* picture_post */

.picture_post_section{
    padding: 1rem;
}
    
.pictures1 {
    display:flex;
}

.pictures1 img {
    
    width:50%;
    max-height: 50%;
    display:flex;
    flex-direction: row;
    margin:0.3rem;
  
}


.pictures2 {
    display:flex;
}

.pictures2 img {


    margin:0.3rem;
    width:50%;
}











 .side_nav_500  {
     display:none;
 }
 
  


















/* Ipad Media query */
/* Side Icons appear on the side from bottom and other dropups */
@media only screen and (min-width:500px) {


        .side_nav_500  {
            display:block;
        }

        .nav_bottom {
            display:none;
        }

        .side_bar-toggle {
            display:none;
        }

        .nav_bar_logo {
            display:none !important;
        }

        .nav_bar_star {
            display:none !important;
        }

        .fleets_section {
            display:none;
        }

    
        .video_section {
            margin-left: 70px;
        }
        


        .side_nav_500{
           
            top:1%;
            position:fixed;
            position:absolute;
           
            background-color: white;
            z-index: 9999;
            padding:1rem;
            color:black;
            border-right: 1px solid black;
            
        }



        /* .post_itself {
            max-width: 400px;
            padding-top: 20%;
            height:0px;
            position: relative;
         }
        
         .video {
            max-width: 400px;
            max-height: 400px;
            position: absolute;
            top: 0;
            left: 0;
        
        } */

        
      





}











/* Full desktop screen */
/* Side icons still dont appear in full */
@media only screen and (min-width:990px)  {


}





/* Full desktop screen */
/* Side icons still dont appear in full */
@media only screen and (min-width:998px)  {

}







/* Full desktop screen */
/* Everything appears in full */
@media only screen and (min-width:1265px)  {

}

