*,*::after,
*::before {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

:root {
    --twitter_color:#00acee;
    --hover_color:#F0F8FE;
}

body {

 margin:0;
 overflow-x: hidden;

}

hr {
    max-width: 100%;
  
}

/* Navbar*/

.notifcation_dot {
    position: absolute;
    width:5px;
    height: 5px;
    top:10px;
    left:34px;
    background-color:var(--twitter_color);
    border-radius: 50%;
}

.navbar_section {
   
    padding:1rem;
    display:flex;
    justify-content: space-between;
    font-size: 1.3rem;
    color:var(--twitter_color);
}

.fleets_section {
    padding:1rem;
    display:flex;
    justify-content: space-evenly;
    padding:1rem;
}

.fleets_section div {
    display:flex;
    flex-direction: column;
   
}

.fleets_section div > a {
margin-left: 2px;

}

.first_fleet {
    position: relative;
}

.add {
   
    padding-left: 10px;
}

.fa-plus {
    position: absolute;
    top:53%; 
    left:35px; 
    background-color: var(--twitter_color);
    color:white;
    border-radius: 50%;
}

.fleets_section  div > img {
    max-width:50px;
   margin-right: 0.9rem ;
   border-radius: 50%;
    border:3px solid var(--twitter_color)
    
   
}

.double_fleet {
    display:flex;
}


.sidebar {
    display:none;
   top:7%;
    position:fixed;
    position:absolute;
    width:300px;
    background-color: white;
    z-index: 9999;
    padding:1rem;
    color:black;
}


#checkbox_side {
    display:none;
}

#checkbox_side:checked ~ .sidebar {
    display:block;
}


.image_icon_flex {
    display:flex;
    justify-content: space-between;
}


.image_icon_flex> div > img {

    max-width:50px;
    margin-right: 0.9rem ;
    border-radius: 50%;

}

.image_icon_flex > i {
    color:var(--twitter_color);
}

.image_icon_flex > div > p {
    font-size: 1.2rem;
    font-weight: bold;
   margin-top: 1px;
}



.image_icon_flex > div > p > span {
    font-weight: lighter;
   color:#777777;
   font-size: 1rem;
 }

 .followership {
     font-size: 1.1rem;
 }

 .follow {
    color:#777777;
    margin-right: 10px;
 }


 .side_functionality i {
     color:#777777;
     margin-right: 10px;
 }

 .side_bottom_icons {
     display:flex;
     justify-content: space-between;

 }

 .side_bottom_icons {
     color:var(--twitter_color);
 }



 .nav_bottom {
    display:flex;
    justify-content: space-around;
   
     position:fixed;
     bottom:0px;
     width: 100%;
     border-top: 1px solid #777777;
     padding:1rem;
     font-size: 1.3rem;
     color:#777777;
     background-color: white;
     
 }

 .tweet_button {
    
  
    position:absolute;
    position:fixed;
    bottom:70px;
    left:80%;
    font-size: 2rem;
    z-index: 999;
    background-color: var(--twitter_color);
    padding:0.5rem;
    border-radius: 50px;
    color:white;
 }



 .nav_bottom > .fa-home {
     color:var(--twitter_color);
 }

 



 /* Video feed */

 .video_post_section {
     position: relative;
     margin: 0 auto;
 }

 .video_info {
     padding:1rem;
     display:flex;
  
     position: relative;
 }

 .feed_profile_pic {

    max-width:40px;
    max-height: 40px;
    margin-right: 0.9rem ;
    border-radius: 50%;

}

 .video_info> i {
    position: absolute;
    left:93%;
    /* left:300px; */
    top:15px; 
    color:#777777;
} 

.video_info > p {
    margin: 0px;
    font-weight: bold;
}


.video_info > p > span {
    color:#777777;
    font-weight: lighter;
   
}


.caption {
    position:absolute;
    left:70px;
    top:33px;
    
}

.hash_tag {
    color:var(--twitter_color)
}

.video {
  width: 320px;
  /* width:80%; */
  position: absolute;
  top:0;
  margin-left: 40px;

  
}

.views {
    position: absolute; 
    top: 315%;
    /* top:230px; */
    left:40px;
    font-size: 0.8rem;
    color:#777777;
}

.interactions  {
    position: absolute; 
    top:270px;
    left:40px;
    font-size: 0.8rem;
    color:#777777;
    display:flex;
    justify-content: space-evenly;
 
}


.interactions > a:nth-of-type(1) {
    color:#777777;
  

    

}

.interactions > a  {
    color:#777777;
    display:flex;
    margin-right: 65px;
    text-decoration: none;
}















/* Ipad Media query */
/* Side Icons appear on the side from bottom and other dropups */
@media only screen and (min-width:500px) {

}










/* Full desktop screen */
/* Side icons still dont appear in full */
@media only screen and (min-width:990px)  {

}





/* Full desktop screen */
/* Side icons still dont appear in full */
@media only screen and (min-width:998px)  {

}







/* Full desktop screen */
/* Everything appears in full */
@media only screen and (min-width:1265px)  {

}

